html,
body {

    margin: 0;
    padding: 0;

    width: 100%;
    /* height: 100%; */

    overflow: hidden;

    background: black;

}
#robotContainer{

    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    border-radius: 0;

    z-index: 1;

}
#robotImage{

    display: block;

    width:100%;
    height:100%;

    object-fit:cover;

}
#introVideo {
    
    position: fixed;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 2;

}
#scrollSpace{
    height:300vh;
    background:red;
}
